{extends 'layout.latte'}
{block obsah}

<div class="row">
    <div class="col-sm-12 col-md-6">
        <form class="form-horizontal" action="generuj_soubory.php" method="POST">
            <div class="form-group">    
                <div class="col-sm-10">
                    <input class="btn btn-primary" name="submit" type="submit" value="Vygeneruj soubory"/>
                </div>
            </div>
        </form>
    </div>
</div>

{/block}